#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*
  snackbars
*/
#password-err-snackbar,
#unregistered-member-err-snackbar,
#already-entered-err-snackbar,
#spend-all-day-err-snackbar,
#client-entered-succ-snackbar,
#even-not-entered-err-snackbar,
#lack-of-milage-err-snackbar,
#success-at-using-milage-snackbar,
#phonenum-length-err-snackbar,
#password-length-err-snackbar
{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#password-err-snackbar.show,
#unregistered-member-err-snackbar.show,
#already-entered-err-snackbar.show,
#spend-all-day-err-snackbar.show,
#client-entered-succ-snackbar.show,
#even-not-entered-err-snackbar.show,
#lack-of-milage-err-snackbar.show,
#success-at-using-milage-snackbar.show,
#phonenum-length-err-snackbar.show,
#password-length-err-snackbar.show
{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
