html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/jejugothic.css', rel='stylesheet', type='text/css')
    //- TEMPLATE SNACKBAR STYLES
    link(href='public/stylesheets/temp/snackbar.css',     rel='stylesheet')
    //- TEMPLATE TABLE STYLES
    link(href='public/stylesheets/temp/table-style.css',     rel='stylesheet')
    //- CUSTOM style
    link(href="public/stylesheets/style.css" rel='stylesheet')
    //- TABLE SORTER STYLE
    link(href='public/__jquery.tablesorter/themes/blue/style.css' rel="stylesheet" type="text/css")
  body
    #product-list.modal(style='padding-top:0px; padding-bottom:3px')
      .modal-content.animate(style='width:80%; height:78%; padding-top:20px; margin-top:100px;overflow-y:scroll')
        .container(style='width:100%')
          h1.page-subhead-line(style='font-size:20px; text-align:center') 상품 판매 설정
          .row
            .col-md-2.col-md-offset-4
              .main-box.mb-dull(style='padding:5px')
                a#new-group.a-cursor-pointer
                  h6 새 그룹 등록
            .col-md-2
              .main-box.mb-dull(style='padding:5px')
                a#new-product.a-cursor-pointer
                  h6 새 상품 등록
          .row
            .col-md-4.col-md-offset-1
              h4 상품 그룹
              .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;margin-bottom:20px;height:65%')
                //- Table starts here
                table#productgroup-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                  thead
                    tr
                      th 상품그룹
                      th
                  tbody#productgroup-table-body
            .col-md-6
              h4 판매 상품 목록
              .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;margin-bottom:20px;height:65%')
                //- Table starts here
                table#product-table.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                  thead
                    tr
                      th 상품명
                      th 그룹
                      th 가격
                      th 설명
                      th
                  tbody#product-table-body
    #add-new-product.modal(style='padding-top:0px; padding-bottom:3px')
      .modal-content.animate(style='width:50%; height:98%; padding-top:20px; margin-top:10px; overflow-y:scroll; z-index:2')
      
    //- INSIDE NEW PRODUCT MODAL  
      //- ADD NEW GROUP
    #add-new-group-modal.modal(style='padding-top:0px; padding-bottom:3px')
      .modal-content.animate(style='width:30%; height:70%; padding-top:50px; margin-top:10px;overflow-y:hidden; overflow-x:hidden; z-index:2')
        .row
          .col-md-10.col-md-offset-1
            h1.page-subhead-line(style='font-size:18px;') 새 그룹 등록
        .row(style='margin-top:20%;')
          .col-md-12
            .panel.panel-default.sale-panel
              .panel-heading 그룹명
              .panel-body
                input.form-control#new-product-group(type='text' style='font-size:11px;')
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull(style='padding:5px')
              a#register-new-product-group.a-cursor-pointer
                h6 등록
    //- MODIFY GROUP
    #modify-group-modal.modal(style='padding-top:0px; padding-bottom:3px')
      .modal-content.animate(style='width:30%; height:70%; padding-top:50px; margin-top:10px;overflow-y:hidden; overflow-x:hidden; z-index:2')
        .row
          .col-md-10.col-md-offset-1
            h1.page-subhead-line(style='font-size:18px;') 그룹 수정
        .row(style='margin-top:20%;')
          .col-md-12
            .panel.panel-default.sale-panel
              .panel-heading 그룹명
              .panel-body
                input.form-control#modify-product-group(type='text' style='font-size:11px;')
                input#modify-hidden-product-group(type='hidden')
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull(style='padding:5px')
              a#register-modify-product-group.a-cursor-pointer
                h6 변경
      //- ADD NEW PRODUCT
    #add-new-product-modal.modal(style='padding-top:0px; padding-bottom:3px;')
      .modal-content.animate(style='width:30%; height:70%; padding-top:50px; margin-top:10px;overflow-y:hidden; overflow-x:hidden; z-index:2')
        .row
          .col-md-10.col-md-offset-1
            h1.page-subhead-line(style='font-size:18px;') 새 상품 등록
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 상품 그룹
              select.form-control#product-group-select
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 상품명
              input.form-control#product-name(type='text')
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 가격
              input.form-control#product-price(type='text')
              span.input-group-addon 
                | 원
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 설명
              input.form-control#product-memo(type='text')
        br
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull(style='padding:5px')
              a#register-new-product.a-cursor-pointer
                h6 등록
      //- MODIFY PRODUCT DATA
    #modify-product-modal.modal(style='padding-top:0px; padding-bottom:3px')
      .modal-content.animate(style='width:30%; height:70%; padding-top:50px; margin-top:10px;overflow-y:hidden; overflow-x:hidden; z-index:2')
        .row
          .col-md-10.col-md-offset-1
            h1.page-subhead-line(style='font-size:18px;') 상품 정보 변경
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 상품 그룹
              select.form-control#modify-product-group-select
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 상품명
              input.form-control#modify-product-name(type='text')
              input.form-control#modify-hidden-product-id(type='hidden')
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 가격
              input.form-control#modify-product-price(type='text')
              span.input-group-addon 
                | 원
        br
        .row
          .col-md-10.col-md-offset-1
            .input-group
              span.input-group-addon 설명
              input.form-control#modify-product-memo(type='text')
        br
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull(style='padding:5px')
              a#register-modify-product.a-cursor-pointer
                h6 수정
    #main
      //- TOP NAV BAR
      ul#top_nav
        li#top_nav_list 
          a.a-cursor-pointer#managePage(style='cursor: pointer') 관리자 페이지
        li#top_nav_list
          a#product-list(style='cursor: pointer') 상품 등록
      #wrapper
        #page-wrapper
          #page-inner
            .row
              .col-md-12
                h1.page-head-line 판매 현황
            .row
              .col-md-6
                .form-inline
                  .form-group
                    .input-group
                      label.inline-label 조회 날짜
                      .input-group.date#member-usage-datetimepicker-start
                        input.form-control(type='text' style='font-size:11px; z-index:0')
                        span.input-group-addon
                          span.fa.fa-calendar(aria-hidden='true')
                      label.inline-label ~
                      .input-group.date#member-usage-datetimepicker-end
                        input.form-control(type='text' style='font-size:11px; z-index:0')
                        span.input-group-addon
                          span.fa.fa-calendar(aria-hidden='true')
                      .main-box.mb-dull(style='padding:5px; display:inline-block; margin-left:15px;')
                        a#refresh-userusagelist.a-cursor-pointer
                          h6 새로고침
              .col-md-6
                .form-inline
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.fa.fa-search(aria-hidden="true")
                      input#products-filter-withname.form-control(type="text" placeholder='상품이름으로 검색' onkeyup="product_finder()" style='z-index:0')
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.fa.fa-search(aria-hidden="true")
                      input#products-filter-withoption.form-control(type="text" placeholder='판매방식으로 검색' onkeyup="product_finder()" style='z-index:0')
            .row
              .col-md-8
                .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;margin-bottom:20px;height:65%')
                  //- Table starts here
                  table#sales-status.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                    thead
                      tr
                        th 판매 내역
                        th 수량
                        th 할인
                        th 미납
                        th 금액
                        th 판매 일자
                        th 납부 방법
                        th 납부 일자
                        th 적립코업머니
                        th 사용코업머니
                        th
                    tbody#all-usage-table-body
              .col-md-4
                .table-responsive-vertical.shadow-z-1.scroll-table(style='width:100%;margin-bottom:20px;height:65%')
                  //- Table starts here
                  table#sales-status-statics.table.table-hover.table-bordered.table-mc-light-blue.tablesorter
                    thead
                      tr
                        th 구분
                        th 수량
                        th 금액
                    tbody#all-usage-static-table-body
    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(src='public/javascripts/temp/custom.js')
    //- BOOTSTRAP EONASDAN-BOOTSTRAP-DATEPICKER
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    //- TABLE SORTER
    //-script(type='text/javascript', src='public/javascripts/temp/jquery-latest.js')
    script(type='text/javascript', src='public/__jquery.tablesorter/jquery.tablesorter.min.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(type='text/javascript', src='public/javascripts/temp/custom.js')
    //- CUSTOM SCRIPTS
    script.
      $(document).ready(function() {
        /*
          nav buttons
        */
        $('#managePage').click(function(event) {
          $.ajax({
            url: '/test/manage',
            method: 'post'
          }).done(function(results) {
            $('body').html(results);
          });
        });
        /*
          When the user clicks anywhere outside of the modal, close it
        */
        window.onclick = function(event) {
          var product_list          = document.getElementById('product-list');
          var add_new_group_modal   = document.getElementById('add-new-group-modal'); 
          var add_new_product_modal = document.getElementById('add-new-product-modal');
          var modify_group_modal    = document.getElementById('modify-group-modal');  
          var modify_product_modal  = document.getElementById('modify-product-modal');
          
          if (event.target == product_list) {
            product_list.style.display = "none";
            eraseOldProdList();
          }


          
          if (event.target == add_new_group_modal) {
            add_new_group_modal.style.display = "none";
            eraseOldProdList();
            renderProdModalList();
          }
          
          if (event.target == add_new_product_modal) {
            eraseOldGroupOption('product-group-select'); // erase old select options
            add_new_product_modal.style.display = "none";
            eraseOldProdList();
            renderProdModalList();
          }


          
          if (event.target == modify_group_modal) {
            modify_group_modal.style.display = "none";
            eraseOldProdList();
            renderProdModalList();
          }
          
          if (event.target == modify_product_modal) {
            eraseOldGroupOption('modify-product-group-select'); // erase old select option
            modify_product_modal.style.display = "none";
            eraseOldProdList();
            renderProdModalList();
          }
        }
        
        
        
        
        /*
          product modal
        */
        $('a#product-list').click(function(event) {
          /* before tablesorter, get list of product group and product list */
          renderProdModalList();
          $('#product-list').css("display", "block");
        });
        
        
        /* modify group button clicked */
        $('a#register-modify-product-group').click(function(event) {
          var oldname = $('#modify-hidden-product-group').val();
          var newname = $('#modify-product-group').val();
          
          $.ajax({
            url: '/system/modifyproductgroup',
            method: 'post',
            data: {
              oldname: oldname,
              newname: newname
            }
          }).done(function(results) {
            console.log(results);
            if (results == '0') {
              alert('성공적으로 변경되었습니다.');
              $('modify-product-group').val('');
            }
          });
        });
        
        
        /* modify product button clicked */
        $('a#register-modify-product').click(function(event) {
          var $name   = $('#modify-product-name');
          var $price  = $('#modify-product-price');
          var $memo   = $('#modify-product-memo')
          var $select = $('#modify-product-group-select');
          
          var mId     = $('#modify-hidden-product-id').val(); // get id from hidden
          var newName   = $name.val();
          var newPrice  = $price.val();
          var newMemo   = $memo.val();
          var group = $select.find('option:selected').val();
          
          $.ajax({
            url: '/system/modifyproduct',
            method: 'post',
            data: {
              mid: mId,
              name: newName,
              price: newPrice,
              memo: newMemo,
              group: group
            }
          }).done(function(results) {
            if (results == '0') {
              alert('성공적으로 수정되었습니다.');
              
            }
            else {
              alert('오류가 발생하였습니다.');
            }
            /* erase input data */
            $name.val('');
            $price.val('');
            $memo.val('');
            $('#modify-product-group-select option:eq(0)').attr('selected', 'selected');
            $
          });
        });
          /* inside ADD NEW GROUP window */
          $('a#new-group').click(function(event) {
            $('#add-new-group-modal').css("display", "block");
          });
          
            /* after click submit button, validate and submit to server */
            $('#register-new-product-group').click(function(event) {
              var $input = $('#new-product-group');
              var gn     = $input.val();
              if (gn === "") {
                alert('그룹명을 입력해주세요.');
              }
              else {
                var c = confirm("[ "+gn+" ] 그룹을 등록하시겠습니까?");
                if (c == true) {
                  $.ajax({
                    url: '/system/newproductgroup',
                    method: 'post',
                    data: {
                      group: gn
                    }
                  }).done(function(results) {
                    console.log(results);
                    /* erase old input val*/
                    $input.val("");
                    if (results == "0") {
                      alert('성공적으로 등록되었습니다.');
                    }
                    else {
                      alert('등록에 실패했습니다.');
                    }
                  });
                }
              }
            });
            
          /* inside ADD NEW PRODUCT window */
          $('a#new-product').click(function(event) {
            /*
              before modal block, should get list of group
            */
            renderGroupOption('#product-group-select');
            $('#add-new-product-modal').css("display", "block");
          });
        
            /* after click submit button, validate and submit to server */
            $('#register-new-product').click(function(event) {
              var $select = $('#product-group-select');
              var $name   = $('#product-name');
              var $price  = $('#product-price');
              var $memo   = $('#product-memo');
              
              var group = $select.find('option:selected').val();
              
              if (group == "" || $name.val() == "" || $price.val() == "" || Number.isInteger(parseInt($price.val())) == false || parseInt($price) < 0) {
                alert('값을 정확히 입력해주세요.');
              }
              else {
                var content = "그룹명: "+group+"\n";
                content += "상품명: " + $name.val() +"\n";
                content += "가격: " + $price.val() +"\n";
                content += "설명: " + $memo.val() +"\n";
                
                var c = confirm(content);
                if (c == true) {
                  $.ajax({
                    url: '/system/product',
                    method: 'post',
                    data: {
                      group: group,
                      name: $name.val(),
                      price: $price.val(),
                      memo: $memo.val()
                    }
                  }).done(function(results) {
                    if (results == '0') {
                      alert('성공적으로 등록되었습니다.');
                      /* clear input data */
                      $name.val('');
                      $price.val('');
                      $memo.val('');
                      $('#product-group-select option:eq(0)').attr('selected', 'selected');
                    }
                  });
                } 
              }
            });
      });
      /*
        renderProdModalList
          get product group, product list from db then render on modal
      */
      function renderProdModalList() {
        $.ajax({
          url: '/system/allproductList',
          method: 'post'
        }).done(function(results) {
          if (results.err == "0") {
            var pg = results.productGroupList;
            var p  = results.productList;
            
            /* 
              then append PRODUCT GROUP 
            */
            for (var i = 0; i < pg.length; i++) {
              var pge = pg[i];
              
              if (i == 0) { /* first element should not be erased */
                $('#productgroup-table-body').append(
                  '<tr name="'+pge.id+'">'+
                  ' <td data-title="name">'+ pge.name +'</td>' +
                  ' <td data-title="modify" style="text-align:center">' +
                  ' </td>' +
                  '</tr>'
                );                    
              }
              if (i !== 0) {
                $('#productgroup-table-body').append(
                  '<tr name="'+pge.id+'">'+
                  ' <td data-title="name">'+ pge.name +'</td>' +
                  ' <td data-title="modify" style="text-align:center">' +
                  '   <i class="fa fa-pencil-square-o modify-group fa-2x" aria-hidden="true" style="cursor:pointer" title="그룹명 변경"></i> &nbsp;' +
                  '   <i class="fa fa-trash-o delete-group fa-2x" aria-hidden="true" style="cursor:pointer" title="그룹삭제"></i> &nbsp;' +
                  ' </td>' +
                  '</tr>'
                );  
              }
              
              /* add MODIFY event listener */
              $('tr[name="'+pge.id+'"] td i.modify-group').on('click', function(event) {
                /*
                  if client trying to change group name, then product included in this group should be updated
                */
                var $parent = $(this).parent().parent('tr');
                var oldname = $parent.find('td[data-title="name"]').text();
                var id      = $parent.attr('name');
                $('#modify-product-group').val(oldname);
                $('#modify-hidden-product-group').val(oldname); // this is need to update product list
                $('#modify-hidden-product-group-id').val(id);
                $('#modify-group-modal').css('display', 'block');
              
              });
              
              /* add DELETE event listener */
              $('tr[name="'+pge.id+'"] td i.delete-group').on('click', function(event) {
                var $parent = $(this).parent().parent('tr');
                var name = $parent.find('td[data-title="name"]').text();
                var c = confirm('그룹 [ '+name+' ] 이 삭제됩니다.');
                if (c == true) {
                  $.ajax({
                    url: '/system/deleteproductgroup',
                    method: 'post',
                    data: {
                      name: name
                    }
                  }).done(function(results) {
                    if (results == "0") {
                      alert('삭제되었습니다.');
                      eraseOldProdList();
                      renderProdModalList();
                    }
                  });
                }
              });
            }
            /* 
              then append PRODUCT  
            */
            for (var i = 0; i < p.length; i++) {
              var pe = p[i];
              $('#product-table-body').append(
                '<tr name="'+pe.id+'">'+
                ' <td data-title="name">'+  pe.product_name +'</td>' +
                ' <td data-title="group">'+ pe.product_group +'</td>' +
                ' <td data-title="price">'+ pe.product_price +'</td>' +
                ' <td data-title="memo">'+  pe.product_memo +'</td>' +
                ' <td data-title="modify" style="text-align:center">' +
                '   <i class="fa fa-pencil-square-o modify-product fa-2x" aria-hidden="true" style="cursor:pointer" title="상품정보변경"></i> &nbsp;' +
                '   <i class="fa fa-trash-o delete-product fa-2x" aria-hidden="true" style="cursor:pointer" title="상품삭제"></i> &nbsp;' +
                ' </td>' +
                '</tr>'
              );
              
              /* add MODIFY event listener */
              $('tr[name="'+pe.id+'"] td i.modify-product').on('click', function(event) {
                /* 
                  before open modal, render old things 
                */
                renderGroupOption('#modify-product-group-select');
                var $parent  = $(this).parent().parent('tr');
                var oldname  = $parent.find('td[data-title="name"]').text();
                var oldgroup = $parent.find('td[data-title="group"]').text();
                var oldprice = $parent.find('td[data-title="price"]').text();
                var oldmemo  = $parent.find('td[data-title="memo"]').text();
                var id       = $parent.attr('name');
                
                $('#modify-product-name').val(oldname);
                $('#modify-product-price').val(oldprice);
                $('#modify-product-memo').val(oldmemo);
                $('#modify-hidden-product-id').val(id); /* save id to hidden */
                /* now block modal */
                $('#modify-product-modal').css('display', 'block');
              });

              /* add DELETE event listener */
              $('tr[name="'+pe.id+'"] td i.delete-product').on('click', function(event) {
                var $parent  = $(this).parent().parent('tr');
                var id = $parent.attr('name');
                var name = $(this).parent().parent().find('td[data-title="name"]').text();
                var c = confirm('정말로 '+ name +'을 삭제하시겠습니까?');
                if (c == true) {
                  $.ajax({
                    url: '/system/deleteproduct',
                    method: 'post',
                    data: {
                      did: id
                    }
                  }).done(function(results) {
                    if (results == '0') {
                      alert('성공적으로 삭제하였습니다.');
                      eraseOldProdList();
                      renderProdModalList();
                    }
                    else {
                      alert('오류가 발생했습니다.');
                    }
                  });
                }
              });
            }
          }
          /* table sort product-table*/
          $('#product-table').tablesorter();
          $('#productgroup-table').tablesorter();
          
        });
      }
      
      /*
        renderGroupOption
          render <option> elements when add/modify product
          
          $selectId   <select> tag id
      */
      function renderGroupOption($selectId) {
        $.ajax({
          url: '/system/productgrouplist',
          method: 'post'
        }).done(function(results) {
          console.log(results);
          var gl = results.results;
          if (results.err == "0") {
            for (var i = 0; i < gl.length; i++) {
              var g = gl[i];
              $($selectId).append(
                '<option name="'+g.id+'" value="'+g.name+'"> '+g.name+' </option>'
              )
            }
          }
          
        });
      }
      
      /*
        eraseOldGroupOption
          erase old <option> elements when finishing job
          
          $selectId   <select> tag id
      */
      function eraseOldGroupOption($selectId) {
        var $select = document.getElementById($selectId);
        while($select.firstChild) {
          $select.removeChild($select.firstChild);
        }
      }
      /*
        eraseOldProdList
          when close modal clear old list
      */
      function eraseOldProdList() {
        var $group_tbody = document.getElementById('productgroup-table-body');
        var $prod_tbody  = document.getElementById('product-table-body');
        while ($group_tbody.firstChild) {
          $group_tbody.removeChild($group_tbody.firstChild);
        }
        while ($prod_tbody.firstChild) {
          $prod_tbody.removeChild($prod_tbody.firstChild);
        }
      }
