html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    //- link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    //- link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/jejugothic.css', rel='stylesheet', type='text/css')
    //- TEMPLATE CLIENT-PAGE-STYLE
    link(href='public/stylesheets/temp/client-page-style.css',     rel='stylesheet')
    //- TEMPLATE SLIDE SHOW STYLE
    link(href='public/stylesheets/client-seats-style.css' rel='stylesheet')
    //- TABLE STYLE
    link(href='public/stylesheets/temp/table-style.css',     rel='stylesheet')
    
  body
    #wrapper
      #page-wrapper
        .row
          .col-md-12
            h1.page-head-line 금일 스터디룸 예약 현황
            h1.page-subhead-line 예약은 카운터에서 해주세요.
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull
              a#client-return.a-cursor-pointer
                h5 돌아가기
        hr
        .row
          .col-md-2.col-md-offset-3
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-1-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                //- THIS IS ROOM 1    
                tbody#reservation-table-body-1
                  tr(name='0.0')
                    th 00:00
                    th(name='avail')
                  tr(name='0.5')
                    th 00:30
                    th(name='avail')
                  tr(name='1.0')
                    th 01:00
                    th(name='avail')
                  tr(name='1.5')
                    th 01:30
                    th(name='avail')
                  tr(name='2.0')
                    th 02:00
                    th(name='avail')
                  tr(name='2.5')
                    th 02:30
                    th(name='avail')
                  tr(name='3.0')
                    th 03:00
                    th(name='avail')
                  tr(name='3.5')
                    th 03:30
                    th(name='avail')
                  tr(name='4.0')
                    th 04:00
                    th(name='avail')
                  tr(name='4.5')
                    th 04:30
                    th(name='avail')
                  tr(name='5.0')
                    th 05:00
                    th(name='avail')
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')                    
          .col-md-2
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-2-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                    //- THIS IS ROOM 1    
                tbody#reservation-table-body-2
                  tr(name='0.0')
                    th 00:00
                    th(name='avail')
                  tr(name='0.5')
                    th 00:30
                    th(name='avail')
                  tr(name='1.0')
                    th 01:00
                    th(name='avail')
                  tr(name='1.5')
                    th 01:30
                    th(name='avail')
                  tr(name='2.0')
                    th 02:00
                    th(name='avail')
                  tr(name='2.5')
                    th 02:30
                    th(name='avail')
                  tr(name='3.0')
                    th 03:00
                    th(name='avail')
                  tr(name='3.5')
                    th 03:30
                    th(name='avail')
                  tr(name='4.0')
                    th 04:00
                    th(name='avail')
                  tr(name='4.5')
                    th 04:30
                    th(name='avail')
                  tr(name='5.0')
                    th 05:00
                    th(name='avail')
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')
          .col-md-2
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-2-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                //- THIS IS ROOM 1    
                tbody#reservation-table-body-3
                  tr(name='0.0')
                    th 00:00
                    th(name='avail')
                  tr(name='0.5')
                    th 00:30
                    th(name='avail')
                  tr(name='1.0')
                    th 01:00
                    th(name='avail')
                  tr(name='1.5')
                    th 01:30
                    th(name='avail')
                  tr(name='2.0')
                    th 02:00
                    th(name='avail')
                  tr(name='2.5')
                    th 02:30
                    th(name='avail')
                  tr(name='3.0')
                    th 03:00
                    th(name='avail')
                  tr(name='3.5')
                    th 03:30
                    th(name='avail')
                  tr(name='4.0')
                    th 04:00
                    th(name='avail')
                  tr(name='4.5')
                    th 04:30
                    th(name='avail')
                  tr(name='5.0')
                    th 05:00
                    th(name='avail')
                  tr(name='7.0')
                    th 07:00
                    th(name='avail')
                  tr(name='7.5')
                    th 07:30
                    th(name='avail')
                  tr(name='8.0')
                    th 08:00
                    th(name='avail')
                  tr(name='8.5')
                    th 08:30
                    th(name='avail')
                  tr(name='9.0')
                    th 09:00
                    th(name='avail')
                  tr(name='9.5')
                    th 09:30
                    th(name='avail')
                  tr(name='10.0')
                    th 10:00
                    th(name='avail')
                  tr(name='10.5')
                    th 10:30
                    th(name='avail')
                  tr(name='11.0')
                    th 11:00
                    th(name='avail')
                  tr(name='11.5')
                    th 11:30
                    th(name='avail')
                  tr(name='12.0')
                    th 12:00
                    th(name='avail')
                  tr(name='12.5')
                    th 12:30
                    th(name='avail')
                  tr(name='13.0')
                    th 13:00
                    th(name='avail')
                  tr(name='13.5')
                    th 13:30
                    th(name='avail')
                  tr(name='14.0')
                    th 14:00
                    th(name='avail')
                  tr(name='14.5')
                    th 14:30
                    th(name='avail')
                  tr(name='15.0')
                    th 15:00
                    th(name='avail')
                  tr(name='15.5')
                    th 15:30
                    th(name='avail')
                  tr(name='16.0')
                    th 16:00
                    th(name='avail')
                  tr(name='16.5')
                    th 16:30
                    th(name='avail')
                  tr(name='17.0')
                    th 17:00
                    th(name='avail')
                  tr(name='17.5')
                    th 17:30
                    th(name='avail')
                  tr(name='18.0')
                    th 18:00
                    th(name='avail')
                  tr(name='18.5')
                    th 18:30
                    th(name='avail')
                  tr(name='19.0')
                    th 19:00
                    th(name='avail')
                  tr(name='19.5')
                    th 19:30
                    th(name='avail')
                  tr(name='20.0')
                    th 20:00
                    th(name='avail')
                  tr(name='20.5')
                    th 20:30
                    th(name='avail')
                  tr(name='21.0')
                    th 21:00
                    th(name='avail')
                  tr(name='21.5')
                    th 21:30
                    th(name='avail')
                  tr(name='22.0')
                    th 22:00
                    th(name='avail')
                  tr(name='22.5')
                    th 22:30
                    th(name='avail')
                  tr(name='23.0')
                    th 23:00
                    th(name='avail')
                  tr(name='23.5')
                    th 23:30
                    th(name='avail')
                  tr(name='24.0')
                    th 24:00
                    th(name='avail')      
    form#client-return-submit(action='/clients/return' method='post')
      input(type='hidden' name='return')  

    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(src='public/javascripts/temp/custom.js')
    //- RWD IMAGE MAPS SCRIPTS
    script(src='public/javascripts/temp/jquery.rwdImageMaps.min.js')
    script.
      $(document).ready(function() {
        var roomState = '!{roomState}';       
        var json = JSON.parse(roomState);
        var room1Reservation = json.room1;
        var room2Reservation = json.room2;
        var room3Reservation = json.room3;
        
        console.log(json.room1);
        //console.log(json);
        /*
          SHOULD RENDER THE JSON DATA
        */
        /*
          Now we should separate depends on the room number
        */
        /* render room 1 column */
        $('tbody#reservation-table-body-1').children('tr').each(function() {
          var name = $(this).attr('name');
          for (var i = 0; i < room1Reservation.length; i++) {
            var jsonelt = room1Reservation[i];
            var it = jsonelt.duration * 2; /* because table is separated with 30 min */
            if (parseFloat(name) === jsonelt.start) {
              $(this).find('th[name="avail"]').css('background-color', 'gray');
              /* also for duration, mark with 'reserved' value */
              var nextTd = $(this).next();
              for (var i = 1; i < it; i++) {
                nextTd.find('th[name="avail"]').css('background-color', 'gray');
                nextTd = nextTd.next();
              }
            }
          }
        });

        /* render room 2 column */
        $('tbody#reservation-table-body-2').children('tr').each(function() {
          var name = $(this).attr('name');
          for (var i = 0; i < room2Reservation.length; i++) {
            var jsonelt = room2Reservation[i];
            var it = jsonelt.duration * 2; /* because table is separated with 30 min */
            if (parseFloat(name) === jsonelt.start) {
              $(this).find('th[name="avail"]').css('background-color', 'gray');
              /* also for duration, mark with 'reserved' value */
              var nextTd = $(this).next();
              for (var i = 1; i < it; i++) {
                nextTd.find('th[name="avail"]').css('background-color', 'gray');
                nextTd = nextTd.next();
              }
            }
          }
        });
        
        /* render room 3 column */
        $('tbody#reservation-table-body-3').children('tr').each(function() {
          var name = $(this).attr('name');
          for (var i = 0; i < room3Reservation.length; i++) {
            var jsonelt = room3Reservation[i];
            var it = jsonelt.duration * 2; /* because table is separated with 30 min */
            if (parseFloat(name) === jsonelt.start) {
              $(this).find('th[name="avail"]').css('background-color', 'gray');
              /* also for duration, mark with 'reserved' value */
              var nextTd = $(this).next();
              for (var i = 1; i < it; i++) {
                nextTd.find('th[name="avail"]').css('background-color', 'gray');
                nextTd = nextTd.next();
              }
            }
          }
        });
        
        /*
          client want to return to index
        */
        $('#client-return').click(function() {
          $('input[name="return"]').val('1');
          $('#client-return-submit').submit();
        });
      });
    
