html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    //- link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    //- link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    //- TEMPLATE CLIENT-PAGE-STYLE
    link(href='public/stylesheets/temp/client-page-style.css',     rel='stylesheet')
    //- TEMPLATE SLIDE SHOW STYLE
    link(href='public/stylesheets/client-seats-style.css' rel='stylesheet')
    //- TABLE STYLE
    link(href='public/stylesheets/temp/table-style.css',     rel='stylesheet')
    
  body
    #wrapper
      #page-wrapper
        .row
          .col-md-12
            h1.page-head-line 스터디룸 예약 현황
            h1.page-subhead-line 예약은 카운터에서 해주세요.
        .row
          .col-md-4.col-md-offset-4
            .main-box.mb-dull
              a#client-return.a-cursor-pointer
                h5 돌아가기
        hr
        .row
          .col-md-2.col-md-offset-3
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-1-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                tbody
                  tr
                    th test
                    th test
                    
          .col-md-2
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-2-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                tbody
                  tr
                    th test
                    th test
          .col-md-2
            .table-responsive-vertical.shadow-z-1.scroll-table
              //- Table starts here
              table#studyroom-2-table.table.table-hover.table-bordered.table-mc-light-blue
                thead
                  tr
                    th 시간
                    th 예약 여부
                tbody
                  tr
                    th test
                    th test
    form#client-return-submit(action='/clients/return' method='post')
      input(type='hidden' name='return')  

    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(src='public/javascripts/temp/custom.js')
    //- RWD IMAGE MAPS SCRIPTS
    script(src='public/javascripts/temp/jquery.rwdImageMaps.min.js')
    script.
      $(document).ready(function() {
        var room1State = '!{room1State}';
        var room2State = '!{room2State}';
        var room3State = '!{room3State}';        
        
        alert(room1State);
        /*
          client want to return to index
        */
        $('#client-return').click(function() {
          $('input[name="return"]').val('1');
          $('#client-return-submit').submit();
        });
      });

    
