html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1")
    //- BOOTSTRAP STYLES
    link(href='public/stylesheets/temp/bootstrap.css',      rel='stylesheet')
    //- FONTAWESOME STYLES
    link(href='public/stylesheets/temp/font-awesome.css',   rel='stylesheet')
    //- TEMPLATE BASIC STYLES
    link(href='public/stylesheets/temp/basic.css',          rel='stylesheet')
    //- TEMPLATE MAIN STYLES
    link(href='public/stylesheets/temp/custom.css',         rel='stylesheet')
    //- TEMPLATE FORM SCRIPTS
    script(src='public/javascripts/temp/switchery.min.js')
    //- TEMPLATE FORM STYLEs
    //- link(href='public/stylesheets/temp/form-style.css',     rel='stylesheet')
    //- link(href='public/stylesheets/temp/switchery.min.css',  rel='stylesheet')
    link(href='public/stylesheets/temp/modal-form.css',     rel='stylesheet')
    //- GOOGLE FONTS
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    //- TEMPLATE CLIENT-PAGE-STYLE
    link(href='public/stylesheets/temp/client-page-style.css',     rel='stylesheet')
    //- TEMPLATE SLIDE SHOW STYLE
    link(href='public/stylesheets/client-seats-style.css' rel='stylesheet')
    
  body
    #wrapper
      #page-wrapper
        .row
          .col-md-12
            h1.page-head-line Please choose your seats
            h1.page-subhead-line This is dummy text , you can replace it with your original text.
        .row
          .col-md-4
            img(src='/public/images/floor-3-m.png', style='width:100%' name='f3' usemap="#f3")
          .col-md-4
            img(src='/public/images/floor-b1-m.png', style='width:100%' name="b1" usemap="#b1")
          .col-md-4  
            img(src='/public/images/floor-4-m.png', style='width:100%' name='f4')
          //- .col-md-4.col-md-offset-4
            //- SLIDE SHOW
            //-   .floor-Slides
            //-     .numbertext 3F
            //-     img(src='/public/images/floor-3-m.png', style='width:100%' name='f3' usemap="#f3")
            //-     .text 3F
            //-   .floor-Slides
            //-     .numbertext B1
            //-     img(src='/public/images/floor-b1-m.png', style='width:100%' name="b1" usemap="#b1")
            //-     .text B1
            //-   .floor-Slides
            //-     .numbertext 4F
            //-     img(src='/public/images/floor-4-m.png', style='width:100%' name='f4')
            //-     .text 4F
            //-   a.prev(onclick='plusSlides(-1)') ❮
            //-   a.next(onclick='plusSlides(1)') ❯
            //- br
            //- div(style='text-align:center')
            //-   span.dot(onclick='currentSlide(1)')
            //-   span.dot(onclick='currentSlide(2)')
            //-   span.dot(onclick='currentSlide(3)')
    map.floor-map(name='f3')
      area(target='', alt='3s1', title='3s1', href='', coords='598,198,768,281', shape='rect')
      area(target='', alt='3s2', title='3s2', href='', coords='780,198,941,279', shape='rect')
      area(target='', alt='3s3', title='3s3', href='', coords='955,200,1117,275', shape='rect')
      area(target='', alt='3s4', title='3s4', href='', coords='1135,204,1291,275', shape='rect')
      area(target='', alt='3s5', title='3s5', href='', coords='1305,200,1464,271', shape='rect')
      area(target='', alt='3s6', title='3s6', href='', coords='1484,204,1646,277', shape='rect')
      
    map.floor-map(name='b1')
      area(target='', alt='r1', title='study-room-1', href='', coords='324,175,902,699', shape='rect' text='hello')
      area(target='', alt='r2', title='study-room-2', href='', coords='933,175,1604,691', shape='rect')
      area(target='', alt='r3', title='study-room-3', href='', coords='1166,740,1608,1236', shape='rect')
        

    //- JQUERY SCRIPTS
    script(src='public/javascripts/temp/jquery-1.10.2.js')
    //- BOOTSTRAP SCRIPTS
    script(src='public/javascripts/temp/bootstrap.js')
    //- METISMENU SCRIPTS
    script(src='public/javascripts/temp/jquery.metisMenu.js')
    //- TEMPLATE LAYOUT SCRIPTS
    script(src='public/javascripts/temp/custom.js')
    //- RWD IMAGE MAPS SCRIPTS
    script(src='public/javascripts/temp/jquery.rwdImageMaps.min.js')
    script.
      $('img[name="b1"]').rwdImageMaps();                  
      $('img[name="f3"]').rwdImageMaps();
    //- script.
    //-   //- slide show
    //-   var slideIndex = 1;
    //-   showSlides(slideIndex);
    //- 
    //-   function plusSlides(n) {
    //-   showSlides(slideIndex += n);
    //-   }
    //- 
    //-   function currentSlide(n) {
    //-   showSlides(slideIndex = n);
    //-   }
    //- 
    //-   function showSlides(n) {
    //-     var i;
    //-     var slides    = document.getElementsByClassName("floor-Slides");
    //-     var dots = document.getElementsByClassName("dot");
    //-     //var dots = $(".dot");
    //-     if (n > slides.length) {slideIndex = 1} 
    //-     if (n < 1) {slideIndex = slides.length}
    //-     for (i = 0; i < slides.length; i++) {
    //-       slides[i].style.display = "none";
    //-     }
    //-     for (i = 0; i < dots.length; i++) {
    //-       dots[i].className = dots[i].className.replace(" active", "");
    //-     }
    //-     slides[slideIndex-1].style.display = "block"; 
    //-     dots[slideIndex-1].className += " active";
    //-   }  


    
